.form-auth .form-fields {
    width: 50%;
    margin: -3% auto;
    position: relative;
    left: 6%;
    padding: 2%;
}

.form-fields .field {
    padding: 2%;
}

.form-fields .field label {
    display: block;
    font-size: 18px;
    font-weight: 300;
}

.form-fields .field input {
    width: 75%;
    height: 25px;
    border-radius: 5px;
    border: 2px solid #333E48;
    margin-top: 2%;
    padding: 2%;
}

.forget-password {
    position: relative;
    left: 32%;
    margin-top: 5%;
}

.forget-password a {
    color: #333E48;
}

.forger-data {
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 2%;
    position: relative;
    left: 1%;
}

.forger-data p {
    position: relative;
    left: 4%;
}

.forger-data input {
    margin-top: 6%;
    padding: 2%;
}

.signIn {
    position: relative;
    left: 32%;
    width: 38%;
    padding: 1.2%;
    background: #00ABEA;
    border: none;
    color: white;
    font-size: 14px;
    border-radius: 4px;
    opacity: 1;
}

.alert img {
    margin-top: 3%;
}

.alert span {
    position: relative;
    left: 1.5%;
    font-weight: 300;
}

.forget-password .user-no-found {
    font-size: 15px;
    position: relative;
    color: #E02401;
    margin: -5% auto 2% auto;
    font-weight: 400;
}