@media only screen
and (min-device-width: 320px)
and (max-device-height: 950px) {

    .auth-container {
        width: 100%;
    }

    .auth-container .title {
        font-size: 8.5px !important;
        width: 300px;
        position: relative;
        left: -15%;
        gap: 2px;
    }

    .auth-container .img-action {
        width: 90% !important;
       position: relative;
        left: -6%;
    }

    /** Form **/
    .form-auth .form-fields {
        width: 150%;
        margin: -3% auto;
        position: relative;
        left: -14%;
        padding: 1.2%;
    }

    .form-fields .field input {
        width: 70% !important;
        height: 18px;
    }

    .form-fields .field label {
        font-size: 14px;
    }

    .form-fields .field {
        padding: 2%;
    }

    .forget-password {
        position: relative;
        left: -10%;
        margin-top: 5%;
    }

    .forget-password a {
        color: #333E48;
    }

    .forger-data {
        width: 120%;
        position: relative;
        left: -13%;
    }

    .signIn {
        position: relative;
        left: -8%;
        width: 110%;
        height: 45px;
        color: white;
        font-size: 15px;
    }

    .alert img {
        margin-top: 3%;
    }

    .alert span {
        position: relative;
        left: 1.5%;
        font-weight: 300;
    }

    .popup-container {
        width: 80%;
        left: 9%;
        top: 21.8%;
    }

    .user-no-found {
        font-size: 12px;
        left: 1.6% !important;
        color: #E02401;
        font-weight: 400;
    }

}