@media only screen
and (min-device-width: 320px)
and (max-device-height: 950px) {

    .footer {
        width: 100%;
        padding: 1.5% !important;
    }

    .footer .info-sec {
        font-size: 14px !important;
        position: relative;
        left: -5%;
    }

    /** Section one **/
    .sections {
        display: grid;
        grid-template-columns: 190px;
        grid-gap: 0;
        position: relative;
        top: 62%;
        left: -4%;
    }

    .title {
        font-size: 15px !important;
    }

    .help {
        position: relative;
        left: 10% !important;
    }

    /** Section two **/
    .subscribe {
        position: relative;
        top: -154%;
    }

    .title-section-two {
        position: relative;
        top: -20% !important;
        font-size: 15px !important;
    }

    .find-icons {
        position: relative;
        top: -70%;
    }


    .payment {
        position: relative;
        top: -25%;
    }

    .payment-image {
        width: 50%;
        position: relative;
        top: -10% !important;
        left: 2%;
    }

    .copyright-text {
        position: relative;
        top: 80%;
        font-size: 13px;
        width: 45%;
        text-align: center;
        padding: 2%;
    }

    .input-section-two .input {
        width: 33%;
    }

    .input-section-two .btn {
        width: 90px;
        height: 35px;
        font-size: 13px;
    }

    .icons-section-two {
        width: 20% !important;
    }

}