.sections {
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 10px;
}

.copyright-text {
    position: relative;
    top: 35%;
    font-size: 18px;
    left: 5%;
    font-weight: 300;
    color: #333E48;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 896px) {
    .sections {
        display: grid;
        grid-template-columns: 200px;
        grid-gap: 0;
        position: relative;
        top: 65%;
        left: -3%;
        width: 85%;
    }

    .copyright-text {
        position: relative;
        top: 90%;
        font-size: 15px;
        width: 45%;
        text-align: center;
    }
}