.content-section-two {
    font-size:16px;
    font-weight: 300;
    width: 50%;
    position: relative;
    left: 2%;
}

.input-section-two .input {
    width: 40%;
    height: 30px;
    position: relative;
    left: 2%;
    border: 1px solid #E3E3E3;
    outline: none;
}

.input-section-two .btn {
    background: #00ABEA;
    color: white;
    border: none ;
    width: 100px;
    height: 35px;
    font-size: 17px;
    font-weight: 300;
    border-radius: 1px;
    position: relative;
    left: 5%;
}

.content-send {
    font-size:14px;
    font-weight: 300;
    position: relative;
    left: 2%;
    width: 45%;
}

.content-send span {
    color: #00ABEA;
}

.payment-image{
    width: 80%;
    position: relative;
    left: 2%;
}