@import url('../styles/composition/section-one.css');
@import url('../styles/composition/section-two.css');
@import url('media-querys/style.css');

.footer {
    background: #F2F2F2;
    padding: 1%;
}

.footer .container-information {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(650px, 1fr));
}

.footer .title-section-two {
    font-size: 15px;
    position: relative;
    left: -15%;
    color: #333E48;
    width: 100%;
}


.footer .help-data {
    position: relative;
    left: -10%;
}

.title-section-two {
    left: 2% !important;
}

