@import url('./composition/links.css');
@import url('./composition/actions.css');
@import url('./media-querys/style.css');

.menu {
    width: 75%;
    margin: 2% auto;
    display: grid ;
    grid-template-columns: 200px 400px 1fr;
}

.menu .action-menu {
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}
