@media only screen and (min-device-width: 320px) and (max-device-width: 950px) {
    .menu {
        width: 40%;
        margin: 2% auto 20% auto !important;
        display: grid;
        grid-template-columns: 200px !important;
        position: relative;
    }

    .menu .logo {
        position: absolute;
        top: 100% !important;
        left: 20% !important;
    }

    .menu .bag, .user {
        position: absolute;
        top: 210%;
        left: 140%;
    }

    .menu .user {
        left: 165%;
    }

    .menu .search {
        position: relative;
        left: 520% !important;
    }

    .menu .links, .header {
        display: none;
    }

    .menu .actions input {
        width: 220%;
        position: absolute;
        top: 80%;
        left: -25%;
    }

    .menu .action-menu {
        display: block !important;
        visibility: visible !important;
        opacity: 1 !important;
        position: absolute;
        top: 110%;
        left: -8% !important;
    }


}